.nav-item a {
  transition: all 0.5s ease;
}
.nav-item a.active {
  color: #18a2b9 !important;
}
.categories {
  padding-top: 20px;
  transition: transform 0.6s ease, opacity 0.4s ease;
}
.categories.category-chosen {
  transform: translateX(-110%);
  opacity: 0;
}
.categories a,
.categories a:hover {
  text-decoration: none;
}
.categories .card-title,
.add-category-form h4 {
  margin-top: 10px;
}
.add-category-form input {
  border: none;
  display: block;
  text-align: center;
  margin: 0 auto;
  transition: all 0.3s ease;
  cursor: pointer;
  background-color: transparent;
  margin-top: 10px;
  margin-bottom: 0.55rem;
  font-size: 1.5rem;
  padding: 0;
  line-height: 0;
  font-family: "Cabin Sketch", cursive;
  font-weight: 500;
  color: inherit;
  width: 100%;
}
.card,
.card .card-title,
.card i {
  transition: all 0.3s ease;
  cursor: pointer;
}
.card:hover {
  background-color: #f5f5f5;
}
.card:hover .card-title,
.card:hover i{
  color: #17a2b8;
}
.card.js-add-category i.add-cat,
.card.js-add-category .card-title,
.card.js-add-category i.toggle-change {
  color: #20c997;
}
.add-category-form,
.card .card-body {
  position: relative;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease;
}
.add-category-form {
  position: absolute;
  padding: 20px;
  cursor: auto;
}
.add-category-form .btn-group i {
  color: white;
}
.add-category-form .badge-pill {
  margin: 0 10px;
  position: relative;
  bottom: 4px;
  cursor: pointer;
}
.hidden {
  transform: translateX(-250px);
  opacity: 0;
}
#change-box {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 73%;
  background-color: white;
}
#change-box i {
  font-size: 27px;
  padding: 3px;
  color: #333;
}
#change-box i:hover {
  color: #17a2b8;;
}