tr a {
  transition: all 0.3s ease;
}
tr span {
  display: block;
  font-size: 13px;
  color: #989898;
  margin-top: -4px;
  margin-bottom: 3px;
}
tr a,
tr a:hover {
  text-decoration: none;
}
tr a:hover {
  color: #18a2b9 !important;
}
tr a:hover span {
  color: #989898;
}
th {
  width: 30px !important;
  padding-right: 5px !important;
  padding-left: 5px !important;
}
table td:last-child {
  width: 80px;
}
.title-edit input {
  background: transparent;
  border: none;
  font-family: sans-serif;
  width: 100%;
  font-size: 16px;
  font-weight: 700;
  border: 1px solid;
  padding: 0px 6px;
}